:root {
    --primary: #363853;
    --secondary: #FF6838;
    --white: #FFF;
    --shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    --container-width: 73rem;
    --container-margin: 9.44%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}

.special-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

body, html {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(120deg, rgba(239, 239, 239, 0.00) -2.01%, rgba(237, 237, 237, 1.0) 103.74%);
    background-attachment: fixed;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}