*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rubik-v28-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/rubik-v28-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body, button {
    font-family: 'Rubik', sans-serif;
    font-weight: 400; 
    margin: 0;
    padding: 0;
    
  }
  
  h1, h2, h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 900; 
  }
  
  .special-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500; 
  }
  

  body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .container {
    
    max-width: 1440px; 
    margin: 0 auto; 
    box-sizing: border-box;
  }


  /*body {
    width: 100%;
    min-height: 100vh; /* Минимальная высота - на весь экран 
    margin: 0 auto;
    max-width: 1440px; /* Максимальная ширина для больших экранов 
    
    /* Для контента, который должен растягиваться 
    display: flex;
    flex-direction: column;
  }*/

  body{
    background: linear-gradient(120deg, rgba(239, 239, 239, 0.00) -2.01%, rgba(237, 237, 237, 1.0) 103.74%);
    backdrop-filter: blur(388.5px);
  }

  .header {
    max-width: 73rem;
    max-height: 3.125rem;
    margin-top: 3.375rem;
    margin-left: 9.44%;
    margin-right: 9.44%;
  }
  
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    max-height: 3.125rem;
    
  }
  
  .header__logo {
    text-decoration: none;
  }
  
  .header__logo h2 {
    display: flex;
    max-width: 6.625rem; /* 106px → rem */
    color: #363853;
    font-size: 2.0625rem; /* 33px → rem  clamp(1.5rem, 5vw, 2.0625rem) */
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.103125rem; /* 1.65px → rem */
  }
  
  .header__logo span::first-letter{
    color: #FF6838;
  }
  
  .burger-menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;  
  }


  .header__nav{
    display: flex;
    /* 17.4375rem → % */
  }
  
  .nav__list{
    max-width: 27.9375rem; /* 447px → rem */
    display: flex;
    justify-content: space-around;
    gap: 3.75rem;
    list-style: none;
    
  }
  
  .nav__item {
    font-style: normal;
   /* font-size: clamp(1rem, 3vw, 1.125rem); */
    font-size: 1.125rem;/* Адаптивный размер */
    line-height: normal;
    position: relative;
  }
  
  .header__nav .nav__list:nth-child(1) .nav__item {
    color: #FF6838;
  }
  
  .nav__link {
    text-decoration: none;
    color: #363853;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem 0; 
  }
  
  .nav__link.active {
    color: #FF6838 !important;
  }
  
  .header__actions {
    display: flex;
    align-items: center;
    width: auto; 
    margin-left: 3.6875rem; 
  }
  
  .action__search{
    background: none;
    display: flex;
    width: 1.3125rem;
    height: 1.375rem;
    border: none;
    flex-shrink: 0;
  }
  
  
  .action__cart{
    background: none;
    border: 2px;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    margin-left: 3.75rem;
  }
  
  .cart__badge {
    position: absolute;
    width: 0.875rem;
    height: 0.875rem;
    background: #FF6838;
    color: white;
    border-radius: 50%;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12);
    transform: translate(14px, -4px); 
  }
  
  .header__right-button {
    background: #FF7A50;
    min-width: 7.5rem; /*clamp(6rem, 15vw, 7.5rem)*/
    min-height: 3.125rem; /*clamp(2.5rem, 6vw, 3.125rem)*/
    box-shadow: 0 1.375rem 2.5rem 0 rgba(255, 104, 56, 0.19);
    border-radius: 0.3125rem;
    border: none;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.5625rem;
  }
  
  .header__right-button:hover {
    opacity: 0.9;
  }
  
  .signup_span {
    font-size: 1.125rem; 
    color: #FFFFFF;
    cursor: pointer;
    font-style: normal;
    line-height: 1.3125rem;
    display: flex;
    margin-left: -0.0625rem;
    margin-top: 0.1875rem;
  }


.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.main_section1{
  max-width: 76.9375rem;
  width: 100%;
  min-height: 50rem;
  margin-left: 8.5rem;
  margin-right: 4.625rem;
  padding: 6.5625rem 0 0;
  display: flex;
  justify-content: space-between;
}

.main_div1_left{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 7.1875rem;
}


.div__h1{
  color: var(--Primary, #363853);
  font-size: 4.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.h1_span{
  color: #FF6838
}

.div_p {
  color: var(--Primary, #363853);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-style: normal;
  line-height: 1.875rem;  
  text-transform: capitalize;
  margin-left: 0;
  margin-top: 1.4375rem;
}

.main_download{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  justify-content: start;
  align-items: center;
  margin-top: 3.125rem;
}

.div_button{
  
  width: 10.1875rem;
  height: 3.15rem;
  border-radius: 0.3125rem;
  border: none;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
  background: #FF6838;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_link{
  text-decoration: none;
  color: #363853;
  font-size: 1.25rem;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  text-decoration: underline;
  height: 100%;
  margin: 0.1875rem 0;

}

.main_div1_right{
 
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_span_search{
  width: 2.5rem;
  height: 2.375rem;
  transform: rotate(-17.42deg);
  display: flex;
  position: absolute;
  flex-shrink: 0;
  border: none;
  border-radius: 0.375rem;
  background: linear-gradient(86deg, #47C2FF -3.59%, rgba(99, 203, 254, 0.65) 131.2%);
  margin-left: -13.0625rem;
  margin-top: 1.375rem;
}
.search_img{
  width: 2.875rem;
  height: 2.75rem;
  transform: rotate(17.58deg);
  margin-left: -0.25rem;
  margin-top: 0px;
}

.div_span_clock{
  width: 4.5625rem;
  height: 4.5625rem;
  position: absolute;
  flex-shrink: 0;
  border-radius: 0.375rem;
  margin-left: 26.4375rem;
  margin-top: 0.4375rem;
}

.message_left{
  width: 9.625rem;
  height: 3.375rem;
  position: absolute;
  flex-shrink: 0;
  border-radius: 0.375rem;
  border: none;
  background: radial-gradient(50% 50% at 50% 50%, #FEF8F5 0%, rgba(255, 255, 255, 0.79) 100%);
  margin-left:  -21.6875rem;
  margin-top: 7.75rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);

}

.row_massage{
  display: flex;
  flex-direction: row;
}

.div_span_funguy{
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  flex-shrink: 0;
  border: 1px solid #96939333;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.funny_guy_img {
  width: 2.625rem;
  height: 2.625rem;
  flex-shrink: 0;
  margin-left: -0.1875rem; 
  margin-top: -0.125rem;
}

.column_massage{
  display: flex;
  flex-direction: column;
  color: var(--Black, #3D3D3D);
  font-style: normal;
  text-transform: capitalize;
  line-height: 1.65;
  margin-left: 3.25rem;
  margin-top: 0.75rem;
}

.column_massage h4{
  font-size: 0.625rem;
  font-weight: 500;
}

.delivery_span{
  font-size: 0.4375rem;
}

.call_span{

  width: 1.5rem;
  height:  1.5rem;
  flex-shrink: 0;
  background: #5EDB71;

  border-radius: 50%;
  border: none;
  margin-left: 0.5625rem;
  margin-top: 0.9375rem;
}
.call_span img{

  margin-left: 0.375rem;
  margin-top: 0.4375rem;
}


.send{
  display: flex;
  position: absolute;
  margin-left: 29.625rem;
  margin-top: 4.1875rem;
  transform: rotate(0.27deg);
}

.vector {
  display: flex;
  position: absolute;
  margin-left: 24.75rem;
  margin-top: 6.75rem;
}

.message_right{
  width: 11.125rem;
  height: 4.6875rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 0.75rem;
  background: var(--Bg, radial-gradient(50% 50% at 50% 50%, #FEF8F5 0%, rgba(255, 255, 255, 0.79) 100%));
  margin-left:  32.25rem;
  margin-top: 16.9375rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.img_scooter_guy{
  width: 43.0625rem;
  height: 42.5rem;
  position: absolute;
  margin-left: -3.6875rem;
}

.sandwich_img{
  width: 4.3125rem;
  height: 3.375rem;
  margin-left: -0.125rem;
  margin-top: 0.6875rem;
}

.sandwich-container{
  margin-left: 0.3125rem;
  margin-top: 0.9375rem;
}

.sandwich_text{
  color: #302F3C;
  font-size: 0.6875rem;
  line-height: normal;
}

.stars_icons {
  display: flex;
  flex-direction: row;
  margin-top: 0.0625rem;
}

.star_icon{
  width: 0.625rem;
  height: 0.625rem;
}

.div_dollar_price{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

.dollar{
  color: var(--Secondary, #FF7A50);
  font-size: 0.5rem;
  font-weight: 700;
  margin-left: 0.125rem;
  margin-top: 0.6875rem;
}

.price{
  color: var(--Primary, #363853);
  font-size: 0.9375rem;
  font-weight: 500;
  margin-left: 0.0625rem;
  margin-top: 0.3125rem;
}

.popular_category_container {
  
  border: none;
  max-width: 72.125rem;
  margin-left: 9.931%; /*8.9375rem*/
  margin-right: 9.931%;
  margin-top: 5.3125rem;
  display: grid; 
  justify-content: stretch;
  
}

.popular_category_section_title{
  text-align: center; 
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2.25rem); 
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Primary, #363853);
  margin-left: 0.875rem; 
}
.category_span{
  color: var(--Secondary, #FF7A50);
}

.image-text-blocks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: stretch;
  column-gap: 1.625rem;
  margin-top: 2.5rem;
  
}


.image-text-block {
  width: 13.125rem;
  height: 4.375rem;
  display: flex;
  align-items: center; 
  border-radius: 0.5rem; 
  background: #FFF;
  border: none;
}

.image-text-block:first-child {
  background: var(--Secondary, #FF7A50);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.block-image {
  width: 2.75rem; 
  height: 2.75rem;
  object-fit: cover;
  margin-left: 0;
  margin-top: 0;
}

.block-text {
  color: var(--Primary, #363853);
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
  margin-left: 0;
  margin-top: 0;
}

.image-text-block:first-of-type .block-text {
  color: #FFF;
}

.image-text-block:first-of-type .block-text {
  margin-left: 0.5rem;
}

.image-text-block:first-of-type .block-image {
  margin-left: 2.9375rem;
}

.image-text-block:nth-child(2) .block-text {
  margin-left: 0.5625rem;
}

.image-text-block:nth-child(2) .block-image {
  width: 3.9375rem;
  height:  3.9375rem;
  margin-left: 2.75rem;
  margin-top: 0.125rem;
}


.image-text-block:nth-child(3) .block-text {
  margin-left: 0.5625rem;
}

.image-text-block:nth-child(3) .block-image {
  margin-left: 2.125rem;
}

.image-text-block:nth-child(4) .block-text {
  margin-left: 0.625rem;
}

.image-text-block:nth-child(4) .block-image {
  margin-left: 1.625rem;
}

.image-text-block:nth-child(5) .block-text {
  margin-left: 0.75rem;
}

.image-text-block:nth-child(5) .block-image {
  margin-left: 1.9375rem; 
}

.complex-blocks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: stretch;
  column-gap: 1.625rem;
  margin-top: 2.5rem;
}

.complex-block {
  width: 13.125rem;
  height: 17.4375rem;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  border: none;
  border-radius: 12px; 
  background: #FFF;
}

.complex-image {
  width: 9rem; 
  height: 9rem;
  object-fit: cover; 
  margin-left: 2.0625rem;
  margin-right: 2.0625rem;
  margin-top: 0px;
}

.icons {
  display: flex;
  justify-content: space-around;
  gap: 0.1875rem; 
  margin-left: 3.0625rem;
  margin-right: 3.0625rem;
  margin-top: -0.9375rem;
}

.icon {
  width: 1.25rem; 
  height: 1.25rem;
}

.complex-text {
  font-size: 0.9375rem;
  color: var(--Primary, #363853);
  margin-top: 0.625rem;
  margin-left: 0px;
}

.complex-price {
  font-size: 0.9375rem;
  color: var(--Primary, #363853);
  font-weight: 500; 
  margin-top: 0.625rem;
}

.complex-button {
  width: 6.625rem; 
  height: 2rem;
  padding: 0.4375rem 0.8125rem;
  font-size: 0.9375rem;
  color: #ffffff;
  border-radius: 2px;
  background: var(--Secondary, #FF7A50);
  border: none;
  cursor: pointer;
  margin-top: 0.625rem;
}

.carousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.6875rem;
}

.carousel-arrow-left, 
.carousel-arrow-right{
  width: 2.125rem; 
  height: 2.125rem;
  margin-top: 2.4375rem;
}
.carousel-arrow-items{
  width: 5.625rem; 
  height: 0.75rem;
  margin-top: 2.5rem; /*3.125*/
}


  @media (max-width: 1439px) {
  
    /*header adaptibility*/
    .header__right-button {
      margin-left: 2.5rem;
    }

    .header__actions{
      margin-left: 2rem;
    }

    .nav__list {
      gap: 1.875rem;
    }
    
    .burger-menu{
      margin-left: 15rem;  
    }

    .action__cart{
      margin-left: 2.5rem;
    }

    /*first_section_adaptive*/
    .main_section1 {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center; 
        padding: 2.1875rem;
    }

    .main_div1_left {
      width: 100%; 
      margin-top: 2rem; 
    }
    
    .main_div1_right {
      width: 100%;
    }

    .div__h1 {
      font-size: 4rem;
    }
    .main_download {
      justify-content: center;
    }

    .img_scooter_guy {
      position: relative;
      margin: 2rem 0 auto;
      transform: none;
    }


    .div_span_search{
      margin-left: -13.4375rem;
      margin-top: 4.375rem;
    }

    .div_span_clock{
      margin-left: 30.1875rem;
      margin-top: 3.1875rem;
    }

    .send{
      display: flex;
      position: absolute;
      margin-left: 34.1875rem;
      margin-top: 6.625rem;
      
    }
    
    .vector {
      display: flex;
      position: absolute;
      margin-left: 29.25rem;
      margin-top: 8.9375rem;
    }
    
    .message_left{
      margin-left:  -21.6875rem;
      margin-top: 9.5625rem;
    }
    
    .message_right{
      margin-left:  36.3125rem;
      margin-top: 19.0625rem;
    }

    .call_span img{
      margin-left: 0px;
    }

    /*popular category section*/
    .popular_category_container {
      max-width: 90%;
      margin: 85px auto 0;
      
    }
    .image-text-blocks {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    
    .complex-blocks {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    
  
  }

  @media (max-width: 1200px) {
  
    
 /*header adaptibility*/
    .menu_right{
      display: flex;
      flex-direction: row;

    }
    .header__nav {
      display: none;
    }
    
    .header__actions{
      display: none;
    }
    .header__right-button {
      margin-left: 0;
    }

    .mobile-menu-btn {
      display: block;
      margin-left: 2rem;
    }


    /*first_section_adaptive*/
    
    .main_div1_left {
      max-width: 37.5rem;
      display: flex;
      flex-wrap: wrap;
    }

    .div__h1,  .div_p{
      text-align: center;
      margin: 0 auto;
    }

 /*popular category section*/

    .image-text-block:nth-child(5),
    .complex-block:nth-child(5) {
      display: none;
    }
  }
  
  @media (max-width: 992px) {
     
    .image-text-block:nth-child(4),
    .complex-block:nth-child(4) {
      display: none;
    }
  }


@media (max-width: 768px) {
  
/*header adaptibility*/
    .header__container{
      width: auto;
      display: flex;
      justify-content: space-between;
    }
    .burger-menu{
      max-width: 0;
      margin-left: 0;
    }

    .header__right-button {
      min-width: 6rem;
    }

    .mobile-menu-btn {
      display: block;
      margin-left: 1rem;
    }
    .menu_right{
      margin-left: 1rem;
    }

/*first_main_section*/

    .img_scooter_guy {
      max-width: 36rem;
      max-height: 35.5625rem;
    }

    .div_span_search{
     
      margin-left: -13.4375rem;
      margin-top: 4.375rem;
    }

    .div_span_clock{
      margin-left: 28.125rem;
      margin-top: 3.1875rem;
    }

    .send{
      display: flex;
      position: absolute;
      margin-left: 32rem;
      margin-top: 6,625rem;
      
    }
    
    .vector {
      display: flex;
      position: absolute;
      margin-left: 27.0625rem;
      margin-top: 8.9375rem;
    }
    
    .message_left{
      width: 9.625rem;
      height: 3.375rem;
      margin-left:  -21.6875rem;
      margin-top: 9.0625rem;
    }
    
    .message_right{
      display: none;
    }

    .div_span_funguy {
      margin-left: 0.375rem;
      margin-top: 0.625rem;
    }
    .column_massage {
      margin-left: 3rem;
      margin-top: 0.875rem;
    }

    .call_span {
      margin-left: 0.75rem;
    }

    .call_span img {
      margin-left: -0.0625rem;
      margin-top: 0.4375rem;
    }
  
/*popular category section*/

    .popular_category_section_title{
      margin-left: 0;
    }
    .image-text-block,
    .complex-block {
      justify-self: center;
    }    
}

@media (max-width: 710px){
  /*popular category section*/
  .image-text-block:nth-child(3),
    .complex-block:nth-child(3)
    {
      display: none;
    }

    .popular_category_container{
      margin: 25px auto 0;
    }
}

@media (max-width: 576px) {
  
 /*header adaptibility*/
    .header__logo h2 {
      font-size: 1.5rem; 
    }

    .header__right-button {
      display: none;
    }

    .signup_span {
      font-size: 0.875rem; 
    }

    .mobile-menu-btn {
      margin-left: 0.5rem;
    }

/*first_section_adaptive*/

    .main_section1{
      min-height: 44rem;
    }

    .div__h1 {
      font-size: clamp(2rem, 5vw + 1rem, 3rem);
    }

    .div_p {
      margin-top: 1.875rem;
      font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem); 
      line-height: 1.6;
    }
    
    .div_button {
      width: clamp(7rem, 10vw + 4rem, 10rem); 
      height: clamp(2.5rem, 1vw + 2rem, 3rem); 
      font-size: clamp(1rem, 0.5vw + 0.8rem, 1.125rem);
    }
    
    .div_link {
      font-size: clamp(1rem, 0.2rem + 1.3vw, 0.875rem); 
    }
    .main_download{
      margin-top: 1.875rem;
    }

    .div_span_search, .div_span_clock,
    .send,  .vector,  .message_left {
      display: none;
    }
  
    .img_scooter_guy {
      max-width: 18.7175rem;
      max-height: 18.5rem;
    }
    
/*popular category section*/
    .image-text-block:nth-child(2),
    .complex-block:nth-child(2){
      display: none;
    }
}


@media (max-width: 320px) {
  /*header adaptibility*/
    .header {
      margin: 0.5rem 3% 0;
    }

    .header__logo h2 {
      font-size: 1.25rem; 
      letter-spacing: 0;
    }

    .mobile-menu-btn {
      transform: scale(0.8); 
    }

    .header__container {
      gap: 0.5rem;
    }

}
  
